sudo: false
language: rust
rust:
 - stable
 - beta
 - nightly
os:
 - linux
 - osx
matrix:
  allow_failures:
   - rust: nightly
  exclude:
   - osx: nightly
addons:
  apt:
    packages:
     - unixodbc
     - unixodbc-dev
     - odbc-postgresql
     - libsqliteodbc
services:
 - postgresql
install:
 - if [ $TRAVIS_OS_NAME = osx ]; then export PG_DATA=$(brew --prefix)/var/postgres;  fi
 - if [ $TRAVIS_OS_NAME = osx ]; then export pg_ctl -w start -l postgres.log --pgdata ${PG_DATA};  fi
 - if [ $TRAVIS_OS_NAME = osx ]; then createuser -s postgres;  fi
before_script:
 - psql -c 'create database travis_ci_test;' -U postgres
 - export ODBCINI=${PWD}/travis/odbc.ini
script:
  - cargo build --release
  - cargo test --verbose --release --features travis
  - cargo doc --no-deps
env:
 - global:
   - RUST_BACKTRACE=1